
.titreajoutarticle{
    text-align: center;
    color: #3E0018;
}

.formajoutproduit{
    text-align: center;
}
.ajouttitre{
    border: 2px solid #3E0018;
    padding: 10px 120px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}
.ajoutannee{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.ajoutcepage{   
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.ajoutpays{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.ajoutregion{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}
#ajoutdescription{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}
#ajoutimg{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    background-color: #3E0018;
}

.btnajout{
    border: 2px solid #3E0018;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #3E0018;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.btnretour2{
    border: 2px solid #3E0018;
    padding: 10px 28px;
    border-radius: 10px;
    background-color: #3E0018;
    color: white;
    text-align: center;
    margin-left: 25px ;
    margin-bottom: 50px;
}

.imggrapes1{
    position: absolute;
    bottom: -20px;
    right: 50px;
}