.main{
    margin-bottom: 100px;
    margin-top: 100px;

    
}


.vinaffiche{
    text-align: center;
}

.div2{
    margin: 20px 40% 10px 40%;
}
.ance{
    display: flex;
    justify-content: space-between;
}

.pnom{
    font-family: 'SourceSansPro-bold', sans-serif;
    font-weight: bold;
    font-size: 1.2em;

}



.pdes{

    margin: 20px 30% 10px 30% ;

}