footer{
    background-color: #88002D;
    height: 160px;
    bottom:0;
    width:100%;
    margin-top:25px;
}

.divfoot{
    display: flex;
    justify-content:center;
    align-items:center;
}

.footlist{
    display: flex;
    justify-content:center;
    list-style-type: none;
    padding:inherit;
}
.lifoot{
    font-size: 2em;
    margin:15px;
    color: white;
}

.footp{
    color:white;
    text-align:center;
    font-size: 0.8em;
}