.titreindex{
    text-align: center;
    color: #3E0018;
}

.carousel{
    text-align: center;
    margin: 100px;
}

.infocon{
    text-align: right;
    color: #3E0018;
    margin-right:50px;
    font-size: 0.8em;
}