// LISTE USER
.titrelistearticle{
    text-align: center;
    color: #3E0018 ;
}
.ajoutproduit{
    position: absolute;
    top : 150px;
    right : 200px;
    font-size: 3em;
}
.alistearticle{
    color: #3E0018;
}









// LISTE PRODUIT

.titreajoutuser{
    text-align: center;
    color: #3E0018 ;
}
.ajoutuser{
    position: absolute;
    top : 150px;
    right : 200px;
    font-size: 3em;
}
.alisteuser{
    color: #3E0018;
}
