
.titremodifyarticle{
    text-align: center;
    color: #3E0018;
}

.formmodifyproduit{
    text-align: center;
}
.modifytitre{
    border: 2px solid #3E0018;
    padding: 10px 120px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}
.modifyannee{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.modifycepage{   
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.modifypays{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.modifyregion{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}
#modifydescription{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}
#modifyimg{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    background-color: #3E0018;
}

.btnmodify{
    border: 2px solid #3E0018;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #3E0018;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.btnretour3{
    border: 2px solid #3E0018;
    padding: 10px 28px;
    border-radius: 10px;
    background-color: #3E0018;
    color: white;
    text-align: center;
    margin-left: 25px ;
    margin-bottom: 50px;
}