.titremodifyuser{
    margin: 100px auto 25px auto;
    text-align: center;
    color: #3E0018;
}

.formmodifyuser{
text-align: center;
}

.usernamemodifiy{
    border: 2px solid #3E0018;
    padding: 10px 120px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.usernamemodifiy{
    border: 2px solid #3E0018;
    padding: 10px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
    
}
#mailmodifiy{
    border: 2px solid #3E0018;
    padding: 10px 120px;
    border-radius: 10px;
    color: #3E0018;
    text-align: center;
    margin-bottom: 15px;
}

.btnmodify{
    border: 2px solid #3E0018;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #3E0018;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}
.btnretour{
    border: 2px solid #3E0018;
    padding: 10px 28px;
    border-radius: 10px;
    background-color: #3E0018;
    color: white;
    text-align: center;
    margin-left: 25px ;
    margin-bottom: 100px;
}
.imggrapes1{
    position: absolute;
    bottom: 80px;
    right: 50px;
    // background-image: url("../img/grapes1.jpg");
    // background-position: left bottom; 
}